:root{
    --Blanco: #f6f6f6;
    --azul: #1c75bc;
    --rojo: #ED1C24;
    --amarillo: #fff200;
    --Negro: #231f20;
}



html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.enteridad{
    width: 1200px;
}

/*Secciones*/
header{
    height: 100px;
    width: 100%;
    background-color: var(--Blanco);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    padding: 16px 0 8px 0;
    box-sizing: border-box;
    top: 0;
    z-index: 2;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
    text-align: end;
}
.primeramitad{
    display: flex;
    align-items: center;
    height: 100%;
}
.primeramitad img.simbolo{
    height: 100%;
    width: auto;
    margin: 0;
    margin-right: 10px;
}
.simbolo{
    height: 140px;
    margin-top: 20px;
}
section{
    background-color: var(--Negro);
    display: flex;
    justify-content: center;
}

/*Diviciones*/
.altura{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 100%;
}
#bienve{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 80px;
    height: 145px;
    background-color: var(--rojo);
    margin: 1%;
    border-top: 2%;
    border: #231f20 solid;
    order: 1;
}
#amarillolo{
    width: 120px;
    min-width: 80px;
    height: 140px;
    background-color: #fff200;
    position: relative;
    bottom: 140px;
    left: 15px;
    order: 3;
}

#anuncio{
    width: 85%;
    min-width: 400px;
    height: 300px;
    margin-top: 1%;
    min-height: 300px;
    background-image: url(..//Imagenes/Main/Anuncio1.png);
    background-color: aqua;
    order: 2;
}

#lados{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 500px;
    height: 60%;
    margin: 1% 0 1% 0;
}
#LadoA{
    width: 48%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
#Cupones{
    flex-wrap: wrap;
    width: 75%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
#Ladob{
    width: 48%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#CuponeraB{
    text-align: center;
}
#toma{
    width: 100%;
    height: 25%;
    background-color: #1c75bc;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toma a{
    margin: 0;
    width: 100%;
    padding: 10% 0 10% 0;
}
.Cupon{
    width: 48%;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.Cupon p{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    height: 90%;
    
}
.Cupon img{
    height: 150px;
    width: auto;
}
#blanco{
    width: 20%;
    height: 350px;
    background-color: #f6f6f6;
    margin-left: 28px;
}
#UbicacionB{
    background-color: var(--amarillo);
    margin: 0;
    padding: 9% 0 9% 0;
    text-align: center;
    width: 100%;
}
#itemsmenu{
    display: flex;
    justify-content: space-around;
}
.menu-item p{
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    text-align: center;
}
#pazul{
    background-color: #1c75bc;
}
#pamarillo{
    background-color: #fff200;
}
#menuB{
    background-color: var(--rojo);
    margin: 0;
    margin-top: 25px;
    padding: 9% 0 9% 0;
    text-align: center;
    width: 100%;
}
#menuC{
    display: none;
}
.menu-item img{
    width: auto;
    height: 170px;
}
#colores{
    margin-top: 25px;
    width: 100%;
    height: 19%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#namco{
    background-color: #f6f6f6;
    width: 450px;
    height: 50px;
}
#azul{
    background-color: #1c75bc;
    width: 100px;
    height: 50px;
}
#escondido{
    display: none;
}

/*Texto*/
h1{
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-size: 60px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-right: 5%;
}
p{
    font-family: "Istok Web", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    height: 15%;
    margin: 0;
    padding: 10px;
    background-color: #ED1C24;
}
#soloparaesconder{
    display: block;
}
/*menu de hamburguesa*/
.fa.fa-bars{
    display: none;
}
.topnav {
    display: flex;
    justify-content: end;
    position: relative;
}

.nav-items-container {
    display: flex;
    align-items: center;
    
}

.nav-items-container a {
    white-space: nowrap;
}

.menu-items {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border: 1px;
    border-color: var(--Negro);
}

.menu-close {
    display: none;
}

.menu-open {
    height:auto;
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100vw;
    box-sizing: border-box;
}

.menu-open a {
    text-align: center;
}

.burger-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.fa-bars {
    color: aliceblue;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .fa.fa-bars{
        display: block;
        font-size: 50px;
        color: black;
    }
    nav{
        width: 10%;
    }
    .nav-items-container a {
        display: none;
    }
    .enteridad{
        width: 720px;
    }
    .altura{
        display: flex;
        flex-wrap: wrap;
        height: 450px;
        width: 100%;
    }
    #bienve{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        min-width: 80px;
        height: 250px;
        background-color: var(--rojo);
        margin: 1%;
        border-top: 2%;
        border: #231f20 solid;
        order: 2;
    }
    #bienve p{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        height: 75%;
    }
    #amarillolo{
        width: 108px;
        min-width: 80px;
        height: 140px;
        background-color: var(--azul);
        position: relative;
        left: 586px;
        order: 3;
    }
    
    #anuncio{
        width: 80%;
        min-width: 400px;
        height: 400px;
        margin-top: 1%;
        min-height: 300px;
        background-image: url(..//Imagenes/Main/E.jpg);
        background-color: aqua;
        order: 1;
    }
    
    #lados{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 75%;
        min-height: 500px;
        height: 60%;
        margin: 1% 0 1% 0;
    }
    #LadoA{
        width: 100%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
    }
    #Cupones{
        flex-wrap: wrap;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;
    }
    #Ladob{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #CuponeraB{
        text-align: center;
    }
    #toma{
        width: 100%;
        height: 25%;
        background-color: #1c75bc;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
    }
    #toma a{
        margin: 0;
        width: 100%;
        padding: 10% 0 10% 0;
    }
    .Cupon{
        width: 48%;
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: center;
    }
    .Cupon p{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        height: 90%;
        
    }
    .Cupon img{
        height: 150px;
        width: auto;
    }
    #blanco{
        width: 20%;
        height: 350px;
        background-color: #f6f6f6;
        margin-left: 28px;
        display: none;
    }
    #UbicacionB{
        background-color: var(--amarillo);
        margin: 0;
        padding: 9% 0 9% 0;
        text-align: center;
        width: 100%;
    }
    #itemsmenu{
        display: flex;
        justify-content: space-around;
    }
    .menu-item p{
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        text-align: center;
    }
    #pazul{
        background-color: #1c75bc;
    }
    #pamarillo{
        background-color: #fff200;
    }
    #menuB{
        background-color: var(--rojo);
        margin: 0;
        margin-top: 25px;
        padding: 9% 0 9% 0;
        text-align: center;
        width: 100%;
    }
    #menuC{
        display: none;
    }
    .menu-item img{
        width: auto;
        height: 170px;
    }
    #colores{
        margin-top: 25px;
        width: 100%;
        height: 19%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        display: none;
    }
    #namco{
        background-color: #f6f6f6;
        width: 450px;
        height: 50px;
    }
    #azul{
        background-color: #1c75bc;
        width: 100px;
        height: 50px;
    }

    #soloparaesconder{
        display: flex;
    }
    #escondido{
        display: inline;
        width: 20%;
        margin-right: 5%;
    }
    #techoamarillo{
        height: 150px;
        width: 100%;
        background-color: #fff200;
    }
    #techoblanco{
        margin-top: 50px;
        height: 600px;
        width: 100%;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
    }
    #techoblanco h1{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        height: 90%;
        margin: 0;
    }
    #item3{
        display: none;
    }
}


@media screen and (max-width: 720px) {
    .nav-items-container a {
        display: none;
    }
    .enteridad{
        width: 480px;
    }
    .altura{
        display: flex;
        flex-wrap: wrap;
        height: 510px;
        width: 100%;
    }
    #soloparaesconder{
        display: block;
    }
    #escondido{
        display: none;
    }
    #bienve{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        min-width: 80px;
        height: 500px;
        background-color: var(--rojo);
        margin: 1%;
        border-top: 2%;
        border: #231f20 solid;
        order: 1;
    }
    #bienve p{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        height: 90%;
    }
    #amarillolo{
        display: flex;
        align-items: center;
        width: 360px;
        min-width: 80px;
        height: 130px;
        background-color: #fff200;
        position: relative;
        left: 95px;
        top: 10;
        order: 3;
    }
    
    #anuncio{
        width: 75%;
        min-width: 350px;
        height: 360px;
        margin-top: 1%;
        min-height: 300px;
        background-image: url(..//Imagenes/Main/Anuncio3.png);
        background-color: aqua;
        order: 2;
    }
    
    #lados{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-height: 500px;
        height: 60%;
        margin: 1% 0 1% 0;
    }
    #LadoA{
        width: 100%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        order: 2;
    }
    #Cupones{
        flex-wrap: wrap;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;
    }
    #Ladob{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        order: 1;
    }
    #CuponeraB{
        text-align: center;
    }
    #toma{
        width: 100%;
        height: 25%;
        background-color: #1c75bc;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
    }
    #toma a{
        margin: 0;
        width: 100%;
        padding: 10% 0 10% 0;
    }
    #Cupon{
        width: 48%;
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: center;
    }
    #Cupon p{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        height: 90%;
        
    }
    #Cupon img{
        height: 150px;
        width: auto;
    }
    #blanco{
        display: none;
        width: 20%;
        height: 350px;
        background-color: #f6f6f6;
        margin-left: 28px;
    }
    #UbicacionB{
        background-color: var(--amarillo);
        margin: 0;
        padding: 9% 0 9% 0;
        text-align: center;
        width: 100%;
    }
    #itemsmenu{
        display: flex;
        justify-content: space-around;
    }
    .menu-item p{
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        text-align: center;
    }
    #item3{
        display: none;
    }
    #pazul{
        background-color: #1c75bc;
    }
    #pamarillo{
        background-color: #fff200;
    }
    #menuC{
        display: block;
        margin: 0;
        padding: 9% 0 9% 0;
        text-align: center;
        width: 100%;
    }
    #menuB{
        display: none;
    }
    .menu-item img{
        width: auto;
        height: 170px;
    }
    #colores{
        margin-top: 25px;
        width: 100%;
        height: 19%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        display: none;
    }
    #namco{
        background-color: #f6f6f6;
        width: 450px;
        height: 50px;
    }
    #azul{
        background-color: #1c75bc;
        width: 100px;
        height: 50px;
    }
}
